$bgW: rgba(255, 255, 255, 1);
$bgMain: rgba(1, 138, 190, 1);
$f14: 14px;

body {
  background-color: #162831;
  font-size: $f14;
}

.container {
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px 0;
}

.nav__link {
  text-decoration: none;
  color: $bgW;
  transition: color .4 easy-in-out;
  -webkit-transition: color .4 easy-in-out;
  -moz-transition: color .4 easy-in-out;
  -ms-transition: color .4 easy-in-out;
  -o-transition: color .4 easy-in-out;
  &:hover {
    color: $bgMain;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__button {
  max-width: 175px;
  background-color: $bgMain;
  padding: 9px 15px;
  border-radius: 3px;
  border: none;
  font-size: 13px;
  color: $bgW;
  font-weight: 600;
  cursor: pointer;
}

.main {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 150px;
}

.main__img {
  position: relative;
}

.main__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-title__text {
  font-size: 24px;
  color: $bgW;
}

.main__descr {
  font-size: 64px;
  color: $bgW;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}